@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    --blue: rgb(12, 31, 138);
    --teal: rgb(0, 251, 255);
    padding: 0;
    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

input,
textarea,
select {
    width: 100%;
    border: 2px solid rgb(190, 189, 189);
    border-radius: 6px;
    padding: 0.2rem;
    margin: 0.2rem 0 0.4rem 0;
}
input:focus,
textarea:focus,
select:focus {
    outline: 1px solid var(--blue);
    border: 2px solid var(--blue);
}

label {
    color: var(--blue);
    font-size: 1rem;
    font-weight: 700;
}

h1,
h2,
h3 {
    margin: 0.5rem 0 1rem 0;
    color: var(--blue);
}
