.container {
    --blue: rgba(12, 31, 138, 1);
    --lightBlue: rgba(114, 192, 255, 0.6);
    --teal: rgb(0, 251, 255);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --btn-red: rgb(239, 5, 5);
    --btn-default: rgb(222, 222, 222);
    min-height: 100vh;
    background: var(--blue);
}

/* LOGIN STYLES */
.login {
    height: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_wrapper {
    /* text-align: center; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_wrapper button {
    background-color: var(--white);
    padding: 0.5rem 0.8rem;
    border-radius: 0.4rem;
    outline-color: var(--teal);
    outline-offset: 4px;
}

/* SIDEBAR STYLES */
.aside {
    color: var(--white);
    padding: 0.6rem 0 0.6rem 1rem;
}

.aside > a,
.nav > a {
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1.8rem;
    padding: 0 12px 0 6px;
}

.active {
    background-color: var(--white);
    color: var(--blue);
    padding-right: 0;
    margin-right: 0;
    border-radius: 6px 0 0 6px;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
}

.nav > * {
    margin-top: 0.4rem;
    outline-offset: 2px;
    transition: 400ms ease;
}

.nav a:hover {
    transform: translatex(8px);
    background-color: var(--white);
    color: var(--blue);
    padding-right: 0;
    margin-right: 0;
    border-radius: 6px 0 0 6px;
}

/* MAIN STYLES */
.wrapper {
    display: flex;
    min-height: 100%;
    width: 100%;
}

.main {
    margin: 0.5rem 0.5rem 0.5rem 0;
    flex-grow: 1;
    min-height: 96vh;
    background-color: var(--white);
    border-radius: 6px;
    padding: 1rem;
}

.header {
    width: 100%;
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    color: var(--blue);
}

.admin {
    height: 1.4rem;
    width: fit-content;
    padding: 0 0.5rem 0 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(2, 35, 223, 0.1);
    border-radius: 6px;
    overflow: hidden;
    color: black;
}
.admin img {
    height: 1.4rem;
}

button.newproduct__btn {
    background: var(--blue);
    color: var(--white);
    border-radius: 6px;
    padding: 0.2rem 0.6rem;
    transition: 300ms ease;
    border: none;
}

button.newproduct__btn:hover {
    transform: scale(1.1);
}

.btn_primary {
    background: var(--blue);
    color: var(--white);
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    border: none;
    outline-offset: 1px;
    cursor: pointer;
    transition: 300ms ease;
}

.btn_secondary {
    background: rgb(252, 252, 252);
    color: var(--blue);
    padding: 0.1rem 0.5rem;
    margin: 0.2rem;
    border-radius: 4px;
    font-size: 0.7rem;
    border: 1px solid var(--blue);
    outline-offset: 1px;
    cursor: pointer;
    transition: 300ms ease;
}

.btn_primary:focus,
.btn_secondary:focus {
    outline-offset: 1px;
    outline: 2px solid var(--blue);
}

.btn_primary:hover,
.btn_secondary:hover {
    transform: scale(1.1);
}

table.basic__table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}

table.basic__table thead tr td {
    background-color: var(--lightBlue);
}

table.basic__table tr td {
    padding: 0.2rem;
    border: 1px solid rgb(191, 191, 191);
}

table.basic__table a {
    background-color: var(--blue);
    color: white;
    height: 100%;
    font-size: 0.8em;
    padding: 0.1rem 0.4rem;
    border-radius: 4px;
    gap: 0.1rem;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: 300ms ease;
    outline-offset: 2px;
    outline-color: var(--blue);
}

table.basic__table a:hover {
    transform: scale(1.1);
}

td.basic__table_buttons {
    display: flex;
    gap: 6px;
}

.small__label {
    font-size: 0.6rem;
    color: rgb(93, 93, 93);
}

.btn__red,
.btn__default {
    border-radius: 4px;
    border: none;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    transition: 300ms ease;
}

.btn__red {
    background-color: var(--btn-red);
    color: var(--white);
}
.btn__default {
    background-color: var(--btn-default);
    color: var(--black);
}

.btn__red:hover,
.btn__default:hover {
    transform: scale(1.1);
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 0.2rem;
}

/* Categories form - properties grid */
.properties__grid {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: auto auto min-content;
    column-gap: 0.4rem;
    align-items: center;
    grid-template-areas:
        "a b c"
        "d e f";
    margin-bottom: 0.4rem;
}

.properties__label1 {
    grid-area: a;
}
.properties__label2 {
    grid-area: b;
}
.properties__input1 {
    grid-area: d;
}
.properties__input2 {
    grid-area: e;
}
.properties__btn {
    grid-area: f;
}

.photos {
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.photos__add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    outline-offset: 2px;
    outline-color: var(--blue);
    transition: 300ms ease;
}

.photos__add label {
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(139, 139, 139);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.photos__add input {
    position: absolute;
    width: 4rem;
}
.photos__add:hover {
    color: rgb(0, 0, 0);
    background: rgb(209, 209, 209);
}

.hidden {
    visibility: hidden;
}

.photos__list {
    display: flex;
    gap: 0.4rem;
}

.photos__item {
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.photos__item {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    overflow: hidden;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.photos__item img {
    height: 4rem;
}

.upload {
    display: flex;
    align-items: center;
    height: 4rem;
}

.btn__logout {
    border: none;
    background: none;
    color: var(--white);
    display: flex;
    gap: 0.4rem;
    padding: 0.4rem 0.4rem;
    align-items: center;
    cursor: pointer;
}

.btn_wrapper button {
    border: none;
    transition: 300ms ease;
}
.btn_wrapper button:hover {
    transform: scale(1.1);
}

.btn__logout:hover {
    background-color: var(--white);
    color: var(--blue);
    padding-right: 0;
    margin-right: 0;
    border-radius: 6px 0 0 6px;
    transform: translatex(8px);
}
