.container {
    --blue: rgba(12, 31, 138, 1);
    --blue2: rgb(56, 59, 230);
    --bg: rgb(245, 245, 245);
    --linkColor: rgb(45, 58, 77);
    --lightBlue: rgba(114, 192, 255, 0.6);
    --teal: rgb(0, 251, 255);
    --navBtn: rgb(200, 204, 253);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --btn-red-bg: rgb(254, 188, 195);
    --btn-red: rgb(239, 5, 5);
    --btn-default: rgb(222, 222, 222);

    background: var(--bg);
}

/* LOGIN STYLES */
.login {
    height: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_wrapper button {
    background-color: var(--white);
    padding: 0.5rem 0.8rem;
    border-radius: 0.4rem;
    outline-color: var(--teal);
    outline-offset: 4px;
}

/* SIDEBAR STYLES */
.aside {
    color: var(--linkColor);
    padding: 0.6rem 0 0.6rem 1rem;
}

.aside > a,
.nav > a {
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1.8rem;
    padding: 0 12px 0 6px;
    width: 90%;
}

.logo {
    display: none;
}

.btn__logout {
    width: 90%;
    border: none;
    background: none;
    color: var(--linkColor);
    display: flex;
    gap: 0.4rem;
    border-radius: 6px;
    padding: 0.4rem 0.4rem;
    align-items: center;
    cursor: pointer;
}

.btn_wrapper button {
    border: none;
    transition: 300ms ease;
}
.btn_wrapper button:hover {
    transform: scale(1.1);
}

.active {
    background-color: var(--lightBlue);
    color: var(--blue);
    border-radius: 4px;
    font-weight: 600;
}

.activeIcon {
    stroke: var(--blue);
    stroke-width: 2px;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
}

.nav > * {
    margin-top: 0.4rem;
    outline-offset: 2px;
    transition: 400ms ease;
}

.nav a:hover,
.nav a:focus,
.btn__logout:hover,
.btn__logout:focus {
    transform: scale(1.1);
    color: var(--black);
    padding-right: 0;
    margin-right: 0;
    border-radius: 4px;
}

/* MAIN STYLES */
.wrapper {
    display: flex;
    min-height: 100%;
    width: 100%;
}

.main {
    flex-grow: 1;
    min-height: 100vh;
    padding: 1rem;
}

.header {
    width: 100%;
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    color: var(--linkColor);
}

.admin {
    height: 1.4rem;
    width: fit-content;
    padding: 0 0.5rem 0 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(2, 35, 223, 0.1);
    border-radius: 6px;
    overflow: hidden;
    color: black;
}
.admin img {
    height: 1.4rem;
}

button.newproduct__btn {
    background: var(--blue2);
    color: var(--white);
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0.4rem 0.6rem;
    transition: 300ms ease;
    border: none;
}

button.newproduct__btn:hover {
    transform: scale(1.1);
}

.btn_primary {
    background: var(--blue2);
    color: var(--white);
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 1.2rem;
    border: none;
    outline-offset: 1px;
    cursor: pointer;
    transition: 300ms ease;
}

.btn_secondary {
    background: rgb(252, 252, 252);
    color: var(--blue);
    padding: 0.1rem 0.5rem;
    margin: 0.2rem;
    border-radius: 4px;
    font-size: 0.7rem;
    border: 1px solid var(--blue);
    outline-offset: 1px;
    cursor: pointer;
    transition: 300ms ease;
}

.btn_primary:focus,
.btn_secondary:focus {
    outline-offset: 1px;
    outline: 2px solid var(--blue);
}

.btn_primary:hover,
.btn_secondary:hover {
    transform: scale(1.1);
}

table.basic__table {
    margin-top: 1rem;
    width: 100%;
    background-color: var(--white);
    border-radius: 4px;
    border-collapse: collapse;
    box-shadow: 0 0 5px 2px rgba(200, 200, 200, 0.6);
}

table.basic__table thead tr th {
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid var(--btn-default);
}

table.basic__table tr td,
table.basic__table tr th {
    padding: 0.6rem;
    border: none;
}

table.basic__table tr:nth-child(even) {
    background-color: rgb(250, 250, 250);
}

table.basic__table a,
table.basic__table button {
    height: 100%;
    padding: 0.4rem 0.6rem;
    font-size: 1.2rem;
    border-radius: 4px;
    gap: 0.1rem;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: 300ms ease;
    outline-offset: 2px;
    outline-color: var(--blue);
}

table.basic__table a:hover {
    transform: scale(1.1);
}

td.basic__table_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.small__label {
    font-size: 0.6rem;
    color: rgb(93, 93, 93);
}

.btn__delete,
.btn__basic,
.btn__edit,
.btn__default {
    border-radius: 4px;
    border: none;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    transition: 300ms ease;
}

.btn__delete {
    background-color: var(--btn-red-bg);
    color: var(--btn-red);
}

.btn__edit {
    background-color: var(--white);
    border: 1px solid var(--btn-default);
    color: var(--linkColor);
}

.btn__basic {
    background-color: var(--white);
    border: 1px solid var(--btn-default);
    color: var(--linkColor);
}

.btn__delete:hover,
.btn__basic:hover,
.btn__edit:hover,
.btn__default:hover {
    transform: scale(1.1);
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 0.2rem;
}

/* Categories form - properties grid */

.properties__header {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0.2rem;
    margin: 0.8rem 0 0.6rem 0;
}

.properties__grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto min-content;
    column-gap: 0.4rem;
    align-items: center;
    grid-template-areas:
        "a b c"
        "d e f";
    margin-bottom: 0.4rem;
}

.properties__label1 {
    grid-area: a;
}
.properties__label2 {
    grid-area: b;
}
.properties__input1 {
    margin: 0;
    grid-area: d;
}
.properties__input2 {
    margin: 0;
    grid-area: e;
}
.properties__btn {
    grid-area: f;
    font-size: 1rem;
    height: 100%;
}

.photos {
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.photos__add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--white);
    box-shadow: 0 0 4px 4px rgba(230, 230, 230, 0.5);
    border-radius: 4px;
    border: 1px var(--blue2);
    outline-offset: 2px;
    outline-color: var(--blue2);
    transition: 300ms ease;
}

.photos__add label {
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--blue2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.photos__add input {
    position: absolute;
    width: 4rem;
}
.photos__add:hover {
    transform: scale(1.1);
}

.hidden {
    visibility: hidden;
}

.photos__list {
    display: flex;
    gap: 0.4rem;
}

.photos__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;

    overflow: hidden;
    height: 4rem;
    max-width: 4rem;
    cursor: pointer;
}

.photos__item img {
    background-color: transparent;
    height: 4rem;
}

.upload {
    display: flex;
    align-items: center;
    height: 4rem;
}

/* categories form */

.category__form {
    margin-bottom: 1rem;
}

.btn__hamburger {
    display: none;
}

@media screen and (max-width: 700px) {
    .container {
        height: 100vh;
        width: 100vw;
        padding-top: 0.5rem;
    }
    .aside {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: var(--bg);
        transform: translateX(-100%);
        transition: 300ms ease;
        z-index: 2;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
    }

    .main {
        min-height: fit-content;
        margin: 1rem;
    }

    .aside_visible {
        transform: translateX(0);
    }

    .hidden {
        display: none;
    }

    .btn__delete,
    .btn__basic,
    .btn__edit,
    .btn__default {
        border-radius: 4px;
        font-size: 0.8rem;
        padding: 0.2rem 0.6rem;
        cursor: pointer;
        transition: 300ms ease;
    }

    .btn__hamburger {
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        border: none;
        background: none;
        z-index: 3;
    }
}
